---
import { link } from '../config.js';
const { product } = Astro.props;
---
<a href={link(`/products/${product.slug}/`)} class="card">
  <div class="card-img">
    <img src={link(product.image)} alt={product.name} loading="lazy" />
  </div>
  <div class="card-body">
    <div class="card-cat">{product.category}</div>
    <div class="card-name">{product.name}</div>
    <div class="card-price">{product.price}</div>
  </div>
</a>
